altgraph==0.16.1
Camelot==12.6.29
camelot-py==0.7.3
click==7.1.1
Elixir==0.7.1
Flask==1.1.1
Flask-WTF==0.14.3
future==0.18.2
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.1
PyYAML==5.4
scipy==1.4.1
six==1.14.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.13.0
Tempita==0.5.2
Werkzeug==1.0.0
WTForms==2.2.1
xlwt==0.7.2
